<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inventory HOMEPAGE</title>
<link rel= "stylesheet" type ="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div align="center">
    <h1>Doctors List</h1>
    <a href="new">Create Doctors</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th> Email</th>
                <th>name</th>
                
                     
                    
            </tr>
        </thead>
        <tbody>
            <th:block th:each="doctor : ${listDoctors}">
     
     <tr>
    
        <td> [[${doctor.email}]]</td>
        <td> [[${doctor.name}]]</td>
       
       
     </tr>
 
  </th:block>
        </tbody>
    </table>
</div>    
</body>
</html>